/* Import font family "Dosis" from Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* Wildcard selector to override default styles added by browser */
/* Targeted elements will have size defined as width/height + padding + border, with border and margins set at 0.*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {

    background-color: #001d0c;

    /*experiment bug fix */



    /*experiment bug fix end */


    min-height: 100vh;
    height: 100%;
    font-family: 'Rubik', sans-serif;

}


h1 {
    font-family: 'Dosis', sans-serif;
    color: #00712D;
    background-color: #fffbf4;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 2px;
    font-size: 3vh;

}

h2 {
    padding: 18px 0 8px;
    font-family: 'Dosis', sans-serif;
    color: #00712D;
    text-transform: uppercase;
    letter-spacing: 2px;

}

button {
    color: #fffbf4;
    font-size: 150%;
    background-color: #00712D;
    padding: 10px 20px 10px;
    border: 2px solid #001d0c;
    border-radius: 8px;
}




/* specific styles */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #00712D;

    position: fixed;
    z-index: 99;
    width: 100%;
    height: 12vh;



}

.header-logo {
    position: absolute;
    color: #fffbf4;
    height: 8vh;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 3vw;

}

.header-title {
    /*height:125px;/
    object-fit: scale-down;*/
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    max-width: 52%;
    height: 8vh;
    padding: 2vh 2vw;
    text-align: center;
    border-radius: 4vh;

}

h1 a {

    color: #00712D;
    background-color: #fffbf4;

    text-decoration: none;

}

nav {
    font-family: 'Dosis', sans-serif;
    background-color: #00712D;
    font-weight: 600;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0.5rem 0 0.5rem;
    display: none;
    top: 99%;
    text-align: center;


}

nav ul {
    list-style-type: none;
}


nav li {
    padding-bottom: 1rem;
}


nav a {

    color: #fffbf4;
    font-family: 'Dosis', sans-serif;

    text-transform: uppercase;
    font-size: 200%;
    text-decoration: none;

}



/* I found BoltClock on stackexchange useful on the "checked" pseudoclass. 
https://stackoverflow.com/questions/8846075/css3-unchecked-pseudo-class */

#nav-toggle:checked~nav {
    display: block;

}

#nav-toggle {
    display: none;
}

i.fa-solid {
    position: absolute;
    color: #fffbf4;
    font-size: 6vh;
    top: 3vh;
    right: 7vw;
}

#nav-toggle:checked~.hamburger-nav-icon {
    display: none;

}

#nav-toggle:not(:checked)~.x-nav-icon {
    display: none;


    /* main body styles */

}

main {

    /*experiment bug fix (footer issue

    position:absolute;

    experiment bug fix (footer issue) end */

    margin-top: 11vh;
    flex: 1;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    background-color: #fffbf4;


}


main p {

    color: #001d0c;
    padding: 10px 20px;
    text-align: justify;

}

/*styles for index.html */

#intro-text {
    position: relative;
    background: url("../images/fidget-spinner-hand.jpeg") no-repeat center;
    background-size: 100%;
    padding: 0 20px;

}

/* use the ::before pseudo-class to make a layer over the background image */

#intro-text::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #fffbf4BB;
    background-size: 100%;

}

#intro-text-content {
    position: relative;
    z-index: 2;

}

#signup-button {
    margin: 50px
}


/* styles for what-we-do.html */


.products-frame {
    position: relative;
}

#collect-process,
#products-box,
#robot-box {
    display: flex;
    flex-direction: column;

}


#collect-process,
#products-box img,
#robot-box img {

    width: 100vw;
    max-width: 100%;

}

#products-box img,
#robot-box img {
    display: block;
}


.products-frame>div {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 1.3em;
    padding: 0 20px;
    background-color: #fffbf4AA;
    border-radius: .65em;

    font-size: 150%;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
    color: #00712D;
    text-transform: uppercase;


}

.what-we-do-text {
    text-align: justify;
    padding: 0 30px 15px;
    color: #001d0c;
}

#products-text {
    padding-top: 15px;
    border-bottom: 1px solid #00712D
}

#drawers-frame div {
    left: unset;
    right: 30px;
}

#fishing-frame div {
    left: unset;
    right: 30px;
}

#robot-frame div {
    right: 20px;
    text-align: center;
    height: 2.6em;
}


/*styles for signup.html */



#signup-main {

    display: flex;
    background: url("../images/signup-background.webp") no-repeat center center/cover;
    z-index: 0;

}

#signup-form-background {
    flex: 1 1 auto;
    background-color: rgba(255, 251, 244, 0.5);
    z-index: 1;
    height: 100%;
    padding-bottom: 10vh;
}

#signup-form-body {
    margin: 12px 0;

}

.signup-form-line {
    display: flex;
    justify-content: center;

}

#signup-form label,
input {
    flex: 1 1;
    margin: 10px 10px;

}

#signup-form label {

    text-align: right;
    margin-left: 30px;
}

#signup-form input {
    text-align: left;
    margin-right: 30px;

}



footer {

    /* Experiment to fix footer bug

    position:absolute;
    bottom:0;
    
    */
    overflow-y: auto;
    width: 100%;
    height: auto;
    background-color: #FF9100;
    color: #001d0c;
    padding: 5px 15px;


}

#contact-details {
    float: left;
    width: 50%;

}

#social-media {

    float: right;
    width: 50%;


}

#social-media a {
    color: #001d0c;
    text-decoration: none;
}

/* media queries for larger phones or phones in landscape mode */
/* prevent signup form from getting too big*/
@media screen and (min-width: 600px) {

    h1 {
        font-size: 4vh;
    }

    #signup-main {
        font-size: 150%
    }

    #signup-text {
        margin: 0 20%;
        font-size: 110%
    }

    #signup-form label,
    input {
        flex: 1 1;
        margin: 10px 10px;


    }

    #signup-form label {

        text-align: right;
        margin-left: 25%;
    }

    #signup-form input {
        text-align: left;
        margin-right: 25%;

    }

    #signup-form-background {

        flex: 1 1 auto;
        background-color: rgba(255, 251, 244, 0.8);
        z-index: 1;
        height: 100%;
        padding-bottom: 10vh;
        margin: 5% 10%;
        border-radius: 3vh 3vh;

    }

    .submit-button {
        margin: 4vh 0;
    }

    main h2 {

        flex: none;
        padding: 18px 0 16px
    }


    #intro-text {
        font-size: 150%;
        padding: 5% 15%
    }
}

/* media queries for landscape tablet and small laptop screens*/

@media screen and (min-width: 900px) {

    h1 {
        font-size: 5vh;
        padding: 1vh;
    }

    header {

        height: 16vh;
        display: flex;
        flex-direction: row;
    }

    .header-logo {
        position: static;
        margin: 4vh 4vh;
    }

    .header-title {
        position: static;
        flex: 2 2;
        min-width: 25vw;
        max-width: 50vw;
        padding: .8vh 2vw;
    }

    nav {
        position: static;
        flex: 1 1 auto;
        display: flex;

        margin: 2vh vw;


    }

    i.fa-solid {
        display: none;
    }

    #menu {
        flex: 1;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1%;
    }

    nav li {

        font-size: 2vh;
        padding-bottom: 0;





    }



    main {
        margin-top: 16vh;
        flex: 1;
    }


    #products-box {
        display: block;
        column-gap: 0;
        row-gap: 0;
        column-count: 2;
    }

    .products-frame {
        width: 100%;


    }

    #fishing-frame img{
        display: block;
        right:0;
        max-width:100%;
        width:auto;
        height:100%;
        z-index:99;
        }



    #robot-frame img{
        display: block;
        width:100%;
        margin:-5px 0 0;

        
    }

    .products-frame>div {
    font-size: 300% ;
    
    }

}


@media screen and (min-width: 1024px) {}

/* media queries for larger laptops and desktops*/


@media screen and (min-width: 1366px) {



    #menu a:hover {
        color: #FF9100
    }



    .container {


        margin: 0 15%
    }

    header {
        width: 70%;
    }


    #menu {

        padding: 1%;

    }


    #signup-form-background {

        flex: 1 1 auto;
        background-color: rgba(255, 251, 244, 0.8);
        z-index: 1;
        height: 100%;
        padding-bottom: 10vh;
        margin: 5% 15%;
        border-radius: 3vh 3vh;


    }


}