/* Import font family "Dosis" from Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');



/* Wildcard selector to override default styles added by browser */
/* Targeted elements will have size defined as width/height + padding + border, with border and margins set at 0.*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {

    min-height: 100vh;
    display: flex;
    flex-direction: column;

}


h1, h2, h3 {
    font-family: 'Dosis', sans-serif;
color: #e3eae3;
text-transform: uppercase;
letter-spacing: 3px;

}

header {
    background-color: #00712D;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    /*height:125px;/
    object-fit: scale-down;*/
    
    max-width:70%;
    height: auto;
    width:auto
}

nav {
    background-color: #00712D;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 2rem;
    display: none;
    top: 100%;
    padding-bottom:60px; 
    
}

nav a {
    color: #fffbf3;
    font-family: sans-serif;
    font-size: 300%;
    
}



/* I found BoltClock on stackexchange useful on the "checked" pseudoclass. 
https://stackoverflow.com/questions/8846075/css3-unchecked-pseudo-class */

#nav-toggle:checked~nav {
    display: block;

}

#nav-toggle {
    display: none;
}

i.fa-solid{
    color: #e3eae3;
    font-size:10vw;
}

#nav-toggle:checked~.hamburger-nav-icon{
    display:none;

}
#nav-toggle:not(:checked)~.x-nav-icon{
    display:none;

}
main{
    flex: 1 0 auto;
    margin-top: 160px;
    display:flex;
    flex-direction: column;
}

footer {
    

}

